html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', Arial, sans-serif;
}

body {
  height: 300vh;
  background: #4d382a;
  padding: 0 .5rem !important;
  h2 {
    font-size: 45px;
    margin: 0;
    text-transform: uppercase;
    color: #fff;
    line-height: 1;
    text-shadow: 0px 0px 12px rgba(38, 0, 0, 1);
    @media (min-width: 64em) {
      font-size: 80px;
    }
  }
  p {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    line-height: 2;
    text-align: justify;
    @media (min-width: 64em) {
      font-size: 16px;
    }
  }
  .cta {
    border: 2px solid #55cdbd;
    background: #55cdbd;
    font-weight: 400;
    padding: 10px 18px;
    text-decoration: none;
    text-transform: uppercase;
    margin: 15px 0;
    color: #fff;
    display: inline-block;

  }
  .owl-dots {
    margin: 0 auto;
    text-align: center;
    .owl-dot{
      span {
        width: 8px;
        height: 8px;
        display: inline-block;
        border: 1px solid #55cdbd;
        border-radius: 100%;
        margin: 3px;
      }
      &.active {
        span {
          background: #55cdbd;
        }
      }
    }
  }

  #nav {
    position: fixed;
    top: 0;
    left: .5rem;
    width: 100%;
    z-index: 2;
    &.nav_bg {
      background: linear-gradient(180deg, rgba(38,0,0,.8) 0%, rgba(38,0,0,0) 100%);
    }
    div {
      padding: 15px 30px;
      position: relative;
      .logo {
        width: 80px;
        display: inline-block;
        @media (min-width: 64em) {
          width: 100px
        }
      }
      .mobile-menu {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        right: 30px;
        width: 40px;
        display: inline-block;
        @media (min-width: 64em) {
          display: none;
        }
      }
      ul {
        display: none;
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        padding-top: 70px;
        height: 100vh;
        background: #438381;
        @media (min-width: 64em) {
          display: inline-block;
          height: auto;
          background: none;
          padding-top: 0;
          top: 50%;
          transform: translateY(-50%);
        }

        &.visible {
          display: block;
        }
        li {
          display: block;
          margin: 30px;
          text-align: right;
          @media (min-width: 64em) {
            display: inline-block;
          }
          a {
            font-size: 20px;
            color: #fff;
            line-height: 1;
            text-shadow: 0px 0px 5px rgba(38, 0, 0, 1);
            text-decoration: none;
            font-weight: 400;
            @media (min-width: 64em) {
              font-size: 16px;
            }
          }
        }
      }
    }
  }

  #ocean {
    .imgseq {
      width: 100%;
      padding: 0;
      img {
        width: 100%;
      }
    }
  }

  #surfboards {
    padding: 30px 0;
    @media (min-width: 64em) {
      padding: 80px 0;
    }
    .surfboards-copy {
      opacity: 0;
    }
    .surfboards-products {
      margin-top: 50px;
      @media (min-width: 64em) {
        margin-top: 0;
      }
      .surfboards-products_img {
        max-width: 80%;
        margin: 0 auto;
      }
    }
  }
  #history {
    padding: 30px 0;
    @media (min-width: 64em) {
      padding: 80px 0;
    }
    .history-inner {
      padding: 30px 0;
      .history-copy {
        opacity: 0;
      }
      .story-img {
        position: relative;
        opacity: 0;
        img {
          display: inline-block;
        }
        &--left {
          text-align: right;
        }
      }
      .story-copy {
        position: relative;
        p{
          font-family: 'Nothing You Could Do', cursive;
          font-size: 16px;
          @media (min-width: 64em) {
            font-size: 18px;
          }
          @media (min-width: 75em) {
            font-size: 24px;
          }
          &::before {
            content: '';
            background-image: url('../img/arrow.png');
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            width: 30px;
            height: 30px;
            @media (min-width: 64em) {
              width: 70px;
              height: 30px;
            }
          }
        }
        &--right {
          p {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            &::before {
              bottom: -20px;
              left: -20px;
              @media (min-width: 64em) {
                bottom: -10px;
                left: -50px;
              }
            }
          }
        }
        &--left {
          p{
            position: relative;
            margin-right: 0;
            text-align: right;
            @media (min-width: 64em) {
              margin-right: 20px;
              position: absolute;
              z-index: 3;
              top: 50%;
              right: 0;
            }
            &::before {
              position: absolute;
              transform: rotate(-90deg);
              bottom: -10px;
              right: -30px;
              @media (min-width: 64em) {
                bottom: -20px;
                right: -15px;
                transform: rotateY(180deg);
              }
            }
          }
        }
      }
      img {
        max-width: 100%;
        margin: 20px 0;
      }
    }
  }
  #quote {
    text-align: center;
    p {
      position: relative;
      font-family: 'Nothing You Could Do', cursive;
      display: inline-block;
      font-size: 20px;
      text-align: center;
      margin: 30px 0 90px 0;
      @media (min-width: 64em) {
        font-size: 34px;
      }
      &::before {
        content: '“';
        font-size: 160px;
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        color:#55cdbd;
        font-family: Arial, sans-serif;
        line-height: 30px;
      }
      &::after {
        content: '”';
        font-size: 160px;
        position: absolute;
        bottom: -80px;
        left: 50%;
        transform: translateX(-50%);
        color:#55cdbd;
        font-family: Arial, sans-serif;
        line-height: 30px;
      }
      span {
        display: block;
        text-align: right;
        font-size: 12px;
        font-family: 'Montserrat', Arial, sans-serif;
        @media (min-width: 64em) {
          font-size: 16px;
        }
      }
    }
  }
  #contact {
    margin-left: -.5rem;
    margin-right: -.5rem;
    position: relative;
    overflow: hidden;
    .contact1 {
      position: relative;
      width: 100%;
      img {
        max-width: 100%;
      }
    }
    .contact2 {
      // position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('../img/contact2.png');
      background-size: cover;
      background-position: bottom;

      .contact-inner {
        position: relative;
        display: block;
        height: 100%;
        width: 100%;
        .img-contact {
          width: 100%;
          position: relative;
          top: 0;
          left: 0;
          z-index: 0;
        }
        .contact-info {
          position: absolute;
          top: 10%;
          left: 8.333333%;
          z-index: 1;
          @media (min-width: 64em) {
            top: 35%;
          }
          p {
            max-width: 80%;
            background: #fff;
            color:#55cdbd !important;
            text-decoration: none;
            padding: 10px;
            font-weight: 400;
            font-size: 12px;
            @media (min-width: 375px) {
              max-width: 50%;
            }
            @media (min-width: 64em) {
              font-size: 16px;
              max-width: fit-content;
              margin-top: 50px;
              padding: 30px;
            }
          }
        }

      }
    }
  }
}
